.scroll {
  height: 50px;
  width: 52px;
  margin: 20vh auto 0;
  position: relative;
}

.scroll__circle {
  background-color: var(--oposite-text-color);
  height: 48px;
  width: 48px;
  display: block;
  border: 3px solid var(--main-text-color);
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation-name: scroll-circle;
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

.scroll__icon {
  font-size: 18px;
  color: var(--main-text-color);
  bottom: 20px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  animation-name: scroll-arrow;
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

.scroll__pulse {
	margin: 0 auto;
	position: absolute;
  left: -5px;
  top: -10px;
	z-index: 0;
	background-color: transparent;
	opacity: 0;
	width: 45px;
	height: 45px;
	border: 10px solid var(--main-text-color);
	border-radius: 100px;
	-webkit-animation: scroll-pulse 1.8s linear infinite 0.3s;
	-moz-animation: scroll-pulse 1.8s linear infinite 0.3s;
	border-image: initial;
}
